@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

body, head {
	margin: 0;
}

body {
	height: 100%;
	font-family: 'Source Sans Pro';
}

header {
	position: absolute;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	width: calc(100% - 2em);
	background: white;
}

header a {
	text-decoration: none;
	color: black;
}

header a.logo {
	font-weight: bold;
	text-transform: uppercase;
}

header nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 0;
	padding: 0;
}

header nav ul li a{
	padding: 1em;
}

.parent {
	display: grid;
	grid-template-columns: auto;
}

.parent section {
	padding: 3em;
}

.parent section h1, .parent section h2, .parent section .act-but {
	margin: 0;
	text-transform: uppercase;
}

.parent section .act-but{
	text-decoration: none;
	color: black;
}

.parent section .act-but:hover {
	color: red;
}

.parent section h2 {
	font-size: 1.3rem;
}

.parent section.init-pic {
	padding: 40em 8em 8em 8em;
	background: url('../campus_!overview_fall.jpg');
	background-size: cover;
	text-align: center;
}

.parent section.init-pic div.inner {
	text-align: center;
	color: white;
	position: relative;
	top: -250px;
}

footer .act-but {
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}

footer .act-but:hover {
	color: red;
}